<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>clienteServer</display-name>
    <servlet-name>clienteServer</servlet-name>
    <servlet-class>Controller.clienteServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clienteServer</servlet-name>
    <url-pattern>/clienteServer</url-pattern>
  </servlet-mapping>
  <display-name>Distribuidora_de_bebidas_silva</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>fornecedorServer</display-name>
    <servlet-name>fornecedorServer</servlet-name>
    <servlet-class>Controller.fornecedorServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fornecedorServer</servlet-name>
    <url-pattern>/fornecedorServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>produtosServer</display-name>
    <servlet-name>produtosServer</servlet-name>
    <servlet-class>Controller.produtosServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>produtosServer</servlet-name>
    <url-pattern>/produtosServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>vendasServer</display-name>
    <servlet-name>vendasServer</servlet-name>
    <servlet-class>Controller.vendasServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vendasServer</servlet-name>
    <url-pattern>/vendasServer</url-pattern>
  </servlet-mapping>
</web-app>